#posFix{
    text-align: center;
    position:fixed;
    top : 0 ;
    left: 0 ;
    background-color: #eee;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    z-index: +1;

}

#posRel{
    text-align: center;
    position:relative;
    height: 1000;
    background-color:#eee;
    padding: 100px;

}

#posAb{
    text-align: center;
    position: absolute;
    background-color: #999;
    bottom : 0px ;
    right: -20px ;
    padding: 30px;

}

#container{
    margin: 0 auto;
    width: 500px;s
}