/**
 * Float Layout Activity
 **/

* {
  margin: 0px;
  box-sizing: border-box;
  text-align: left;
  /**background-color: tomato;**/
}

body {
  background: #ccc;
}

img {
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

#left, #middle, #right {
  height: auto;
  float:left;
  width: 10%;
}

#middle {
  width: 80%;
  max-width: 960px;
  color:black;
}

#left {
  height: 207px;
  color:black;
  background: yellow;
}

#right {
  color:black;
  height: 207px;
  background: green;
}

#divTop {
  height: 207px;
  background:white;
}

section{
  height: 100%;
  background: #ccc;
}

header, #about, #portfolio, #connect {
  text-align: right;
  width: 12%;
  float:left;
}

header {/**
  padding-left: 20px;
  adding-top: 180px;
  padding-bottom: 25;**/
  text-align: bottom;
  float:left;
  color:#333;
  background:aqua;
}


#full {
  margin:0 auto;
  color: #333;
  background: grey;
}


#division {
  float:left;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 70px;
  padding: 20px;
  max-width: 960px;
  height: 400px;
  line-height: 1.5;
  color: #333;
  background: #fff;
}


aside {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 20px;
  height: 1500;
  color: #333;
  background: #fff;
}

footer {
  float: left;
  border-top: 3px solid #73AD21;
  height: 30px;
  text-align: center;
  font-size: 10px;
  background: grey;
  width : 100%;
}
